spring:
  application:
    name: UniversityManagement
server:
  port: 8081
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    instance-id: UniversityService
    prefer-ip-address: true