spring:
  application:
    name: CourseManagement
server:
  port: 8082
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    instance-id: CourseService
    prefer-ip-address: true